<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <servlet>
        <servlet-name>CommonUserRegServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.CommonUserRegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllDivisionName</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AllDivisionName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllDistictName</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AllDistictName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllPoliceStationNameForRegestration</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AllPoliceStationNameForRegestration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RentECarRegServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.RentECarRegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllCarServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AllCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCarServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.DeleteCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllCarBrandName</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AllCarBrandName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllColorName</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AllColorName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllCarCategoryServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AllCarCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllModelName</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AllModelName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRentACarServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AddRentACarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllRentedCarServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AllRentedCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RentACarInfoServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.RentACarInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllCarCategory</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AllCarCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRentACarBookingServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AddRentACarBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DistanceServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.DistanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInfoServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.UserInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserInfoServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.UpdateUserInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllActiveRentACarServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AllActiveRentACarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InactiveRentACarServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.InactiveRentACarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllAuthorizedRequestServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AllAuthorizedRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllInactiveRentACarServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AllInactiveRentACarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActiveRentACarServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.ActiveRentACarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllRentACarBookingServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AllRentACarBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllRentACarServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AllRentACarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmBookingServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.ConfirmBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCellNo</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.CheckCellNo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendSmsServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.SendSmsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CurrentMonthRent</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.CurrentMonthRent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllDistictNameOrigin</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AllDistictNameOrigin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllDistictNameDestination</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AllDistictNameDestination</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllPoliceStationNameOrigin</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AllPoliceStationNameOrigin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllPoliceStationNameDestination</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AllPoliceStationNameDestination</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingPaymentServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.BookingPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllNotification</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AllNotification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBkashTable</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.UpdateBkashTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllPandingBooking</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AllPandingBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllFareRate</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AllFareRate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFareRate</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.UpdateFareRate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllInactiveCar</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AllInactiveCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActiveCarServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.ActiveCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllActiveCar</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AllActiveCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InactiveCarServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.InactiveCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllConfirmedBooking</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AllConfirmedBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DWPRegServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.DWPRegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DWPInfoServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.DWPInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CurrentMonthRentForDWP</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.CurrentMonthRentForDWP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassSendSmsServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.ResetPassSendSmsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePassword</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.UpdatePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllCarUnderDWP</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AllCarUnderDWP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllBikeBrandServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AllBikeBrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllBikeBrandNameServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AllBikeBrandNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllBikeModelServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AllBikeModelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBikeBrandServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AddBikeBrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddModelServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AddModelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllCarBrandServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AllCarBrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllCarModelServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AllCarModelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCarBrandServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AddCarBrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCarModelServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AddCarModelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllColorServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AllColorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddColorServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AddColorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllDistictServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AllDistictServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDistrictServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AddDistrictServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllDivisionServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AllDivisionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDivisionServlet</servlet-name>
        <servlet-class>com.eh.newparaparmaven.controller.AddDivisionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommonUserRegServlet</servlet-name>
        <url-pattern>/CommonUserRegServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllDivisionName</servlet-name>
        <url-pattern>/AllDivisionName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllDistictName</servlet-name>
        <url-pattern>/AllDistictName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllPoliceStationNameForRegestration</servlet-name>
        <url-pattern>/AllPoliceStationNameForRegestration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RentECarRegServlet</servlet-name>
        <url-pattern>/RentECarRegServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllCarServlet</servlet-name>
        <url-pattern>/AllCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCarServlet</servlet-name>
        <url-pattern>/DeleteCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllCarBrandName</servlet-name>
        <url-pattern>/AllCarBrandName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllColorName</servlet-name>
        <url-pattern>/AllColorName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllCarCategoryServlet</servlet-name>
        <url-pattern>/AllCarCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllModelName</servlet-name>
        <url-pattern>/AllModelName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRentACarServlet</servlet-name>
        <url-pattern>/AddRentACarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllRentedCarServlet</servlet-name>
        <url-pattern>/AllRentedCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RentACarInfoServlet</servlet-name>
        <url-pattern>/RentACarInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllCarCategory</servlet-name>
        <url-pattern>/AllCarCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRentACarBookingServlet</servlet-name>
        <url-pattern>/AddRentACarBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DistanceServlet</servlet-name>
        <url-pattern>/DistanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInfoServlet</servlet-name>
        <url-pattern>/UserInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserInfoServlet</servlet-name>
        <url-pattern>/UpdateUserInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllActiveRentACarServlet</servlet-name>
        <url-pattern>/AllActiveRentACarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InactiveRentACarServlet</servlet-name>
        <url-pattern>/InactiveRentACarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllAuthorizedRequestServlet</servlet-name>
        <url-pattern>/AllAuthorizedRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllInactiveRentACarServlet</servlet-name>
        <url-pattern>/AllInactiveRentACarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActiveRentACarServlet</servlet-name>
        <url-pattern>/ActiveRentACarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllRentACarBookingServlet</servlet-name>
        <url-pattern>/AllRentACarBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllRentACarServlet</servlet-name>
        <url-pattern>/AllRentACarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmBookingServlet</servlet-name>
        <url-pattern>/ConfirmBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCellNo</servlet-name>
        <url-pattern>/CheckCellNo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendSmsServlet</servlet-name>
        <url-pattern>/SendSmsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CurrentMonthRent</servlet-name>
        <url-pattern>/CurrentMonthRent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllDistictNameOrigin</servlet-name>
        <url-pattern>/AllDistictNameOrigin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllDistictNameDestination</servlet-name>
        <url-pattern>/AllDistictNameDestination</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllPoliceStationNameOrigin</servlet-name>
        <url-pattern>/AllPoliceStationNameOrigin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllPoliceStationNameDestination</servlet-name>
        <url-pattern>/AllPoliceStationNameDestination</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingPaymentServlet</servlet-name>
        <url-pattern>/BookingPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllNotification</servlet-name>
        <url-pattern>/AllNotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBkashTable</servlet-name>
        <url-pattern>/UpdateBkashTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllPandingBooking</servlet-name>
        <url-pattern>/AllPandingBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllFareRate</servlet-name>
        <url-pattern>/AllFareRate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFareRate</servlet-name>
        <url-pattern>/UpdateFareRate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllInactiveCar</servlet-name>
        <url-pattern>/AllInactiveCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActiveCarServlet</servlet-name>
        <url-pattern>/ActiveCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllActiveCar</servlet-name>
        <url-pattern>/AllActiveCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InactiveCarServlet</servlet-name>
        <url-pattern>/InactiveCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllConfirmedBooking</servlet-name>
        <url-pattern>/AllConfirmedBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DWPRegServlet</servlet-name>
        <url-pattern>/DWPRegServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DWPInfoServlet</servlet-name>
        <url-pattern>/DWPInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CurrentMonthRentForDWP</servlet-name>
        <url-pattern>/CurrentMonthRentForDWP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassSendSmsServlet</servlet-name>
        <url-pattern>/ResetPassSendSmsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePassword</servlet-name>
        <url-pattern>/UpdatePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllCarUnderDWP</servlet-name>
        <url-pattern>/AllCarUnderDWP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllBikeBrandServlet</servlet-name>
        <url-pattern>/AllBikeBrandServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllBikeBrandNameServlet</servlet-name>
        <url-pattern>/AllBikeBrandNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllBikeModelServlet</servlet-name>
        <url-pattern>/AllBikeModelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBikeBrandServlet</servlet-name>
        <url-pattern>/AddBikeBrandServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddModelServlet</servlet-name>
        <url-pattern>/AddModelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllCarBrandServlet</servlet-name>
        <url-pattern>/AllCarBrandServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllCarModelServlet</servlet-name>
        <url-pattern>/AllCarModelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCarBrandServlet</servlet-name>
        <url-pattern>/AddCarBrandServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCarModelServlet</servlet-name>
        <url-pattern>/AddCarModelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllColorServlet</servlet-name>
        <url-pattern>/AllColorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddColorServlet</servlet-name>
        <url-pattern>/AddColorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllDistictServlet</servlet-name>
        <url-pattern>/AllDistictServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDistrictServlet</servlet-name>
        <url-pattern>/AddDistrictServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllDivisionServlet</servlet-name>
        <url-pattern>/AllDivisionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDivisionServlet</servlet-name>
        <url-pattern>/AddDivisionServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
